html {height:100%;}
body {
  margin:0;
  padding:0;
  font: 75% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  height:100%;
}
[v-cloak] {
  display: none;
}

#agrosat {
  display:grid;
  grid-template-columns: 160px auto;
  grid-template-rows: 60px auto 30px 60px;
  grid-template-areas: "header nav" "aside main" "aside legend" "footer footer";
  color:#fff;
  height:100%;
}

header {
  grid-area: header;
  background:#29323f;
  display:flex;
  justify-content:center;
  align-items:center;
}
nav {
  grid-area: nav;
  background:#29323f;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0 5px;
}
nav a {
  display:inline-block;
  width:30px;
}
aside {
  grid-area: aside;
  background:#29323f;
  padding:15px;
}
aside .sub-panel { margin:20px 0; }

main {
  grid-area: main;
  background:#ccc;
}

section#legend {
  grid-area: legend;
  background:transparent;
  display:flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  background: #29323f;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* controls */
a:link, a:visited { color:#fff; text-decoration:none;}
a:hover, a:active { color:#fcee6d;}

#nitro-units { text-align:center; }
#nitro-units input {
  height: 30px;
  background: #29323f;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  text-align:center;
}

.fade-enter-active, .fade-leave-active { transition: opacity .5s }
.fade-enter, .fade-leave-to { opacity: 0 }

#map {
  width:100%;
  height:100%;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#dates .rd-container {
  background:#29323f;
  font-size:10px;
  padding:0;
  border:0;
}
#dates .rd-container .rd-day-selected {
  background:#fcee6d;
  color:#29323f;
}
#dates .rd-back, #dates .rd-next {
  color:#fcee6d;
}

.download-btn {
  text-align: center;
  width: 24px;
  line-height: 75%;
}

.btn {
  color: #009688;
  background: #fff;
  border: 1px solid #009688;
  font-size: 12px;
  padding: 5px 7px;
  font-weight: normal;
  margin: 6px 0;
  margin-right: 12px;
  display: inline-block;
  text-decoration: none;
  min-width: 80px;
  border-radius:0;
  cursor:pointer;
}
.btn:hover, .btn:active {
 color:#fff;
 background:#009688;
}
.btn:focus {outline:0;}

.instructions {
  text-align:justify;
  font-variant: all-caps;
}

@keyframes spinnn {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
#spinning-wheel { animation: spinnn 2s linear infinite; }