html {height:100%;}
body {
  margin:0;
  padding:0;
  font: 75% Verdana, sans-serif;
  height:100%;
}
[v-cloak] { display: none; }

#loading {
  z-index:999;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(30, 36, 47, .5);
  transition: opacity .3s ease;
  display:flex;
  justify-content:center;
  align-items:center;
}

#no-data {
  z-index:999;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(30, 36, 47, .5);
  transition: opacity .3s ease;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  text-align:center;
}

#agrosat {
  display:grid;
  grid-template-areas: "header status nav"
                       "main main main"
                       "legend legend legend"
                       "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 2fr 30px 30px;
  color:#fff;
  height:100%;
}

header {
  z-index:9;
  grid-area: header;
  background:#29323f;
  display:flex;
  align-items:center;
  padding:0 15px;
}
nav {
  z-index:9;
  grid-area: nav;
  background:#29323f;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
section#status {
  z-index:9;
  grid-area:status;
  background: #29323f;
  display:flex;
  justify-content: center;
  align-items: center;
}
section#legend {
  z-index:9;
  grid-area: legend;
  background:transparent;
}

footer {
  z-index:9;
  grid-area: footer;
  background: #29323f;
  color:#fff;
  padding:3px 15px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}
main {}

nav a {
  display:inline-block;
  max-width:24px;
}

nav a+a { margin-left:10px; }

#choices-menu {
  padding: 15px;
  position: absolute;
  top: 60px;
  right: 0;
  background: #29323f;
  width: 145px;
  height: 100px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

a:link, a:visited { color:#fff; text-decoration:none;}
a:hover, a:active { color:#fcee6d;}

#nitro-control {
  position:absolute;
  top: 190px;
  right: 0;
  padding: 15px;
  padding-top: 0;
  background: #29323f;
  width:145px;
  height:100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index:9;
}
#nitro-control h1 {
  margin:0 auto;
  text-align:center;
}
#nitro-control h1 small{
  font-size:65%;
  color:#009688;
}

.fade-enter-active, .fade-leave-active { transition: opacity .5s }
.fade-enter, .fade-leave-to { opacity: 0 }

#map {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.download-btn {
  text-align: center;
  width: 45px;
  line-height: 75%;
  display:inline-block;
}

.btn {
  color: #009688;
  background: #fff;
  border: 1px solid #009688;
  font-size: 12px;
  padding: 5px 7px;
  font-weight: normal;
  margin: 6px 0;
  display: inline-block;
  text-decoration: none;
  min-width: 80px;
  border-radius:0;
  cursor:pointer;
}
.btn:hover,.btn:active{color:#fff;background:#009688;}
.btn:focus {outline:0;}
.btn.calc{color:#fff;background:#009688;}
.btn.calc:hover,.btn.calc:active{color:#009688;border-color:#fff;background:#fff;}

input#address {
  height: 100%;
  font-size: 14px;
  background: transparent;
  color: #fff;
  border: none;
  width: 99%;
  padding: 0 15px;
  outline: none;
}
#address-search {
  z-index:9;
  position:absolute;
  top:60px;
  left:0;
  width: 100%;
  height:60px;
  background:#009688;
  display: flex;
  align-items: center;
  justify-content: center;
}
#raster-calendar {
  padding: 0 15px 15px 15px;
  position: absolute;
  top: 60px;
  right: 160px;
  background: #29323f;
  width: 150px;
  height: 150px;
  z-index: 9;
}

#raster-calendar td {
  text-align:center;
}
#raster-calendar td.off {
  color:#ccc;
}
#raster-calendar td.today {
  color:#fcee6d;
}
#raster-calendar td.dayOn a{
  color:#009688;
}
#raster-calendar p {
  margin:0;
  text-align:center;
}
#raster-calendar #heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#info-button {
  width:32px;
  height:32px;
  border-radius:50%;
  background-color:#29323f;
  position:absolute;
  bottom:75px;
  left:15px;
  z-index:999;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spinnn {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
#spinning-wheel { animation: spinnn 2s linear infinite; }

.ol-zoom {
  top: 6.5em;
  left: 15px;
}
.ol-zoom.ol-unselectable.ol-control button {
  outline:none;
  background:#29323f;
  cursor:pointer;
}
.ol-zoom.ol-unselectable.ol-control button:hover {
  background:#1F8575;
}

div.help-step svg {float:left;stroke:#29323f;}
div.help-step p {padding-left:60px;}