html {height:100%;}
body {
  margin:0;
  padding:0;
  font: 75% Verdana, sans-serif;
  height:100%;
  color:#5B5B5B;
  background: #29323f;
}

h1, h2, h3, h4, strong { color:#131313;}

#agrosat-welcome {
  display:grid;
  grid-template-areas: "header"
                       "hero"
                       "nav"
                       "main"
                       "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 60px 9em 60px 1fr 30px;
  height:100%;
}

header {
  z-index:9;
  grid-area: header;
  background:#29323f;
  display:flex;
  align-items:center;
  padding:0 15px;
  color:#fff;
}
header h2 {color:#fff;}

section#hero {
  z-index:9;
  grid-area:hero;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:0;
  background:#1F2530;
  color:#ccc;
}

footer {
  z-index:9;
  grid-area: footer;
  background: #29323f;
  color:#fff;
  padding:3px 15px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

main {
  z-index:9;
  background:#ddd;
  grid-area: main;
  padding:15px;
  display:flex;
  justify-content:center;
  align-items:center;
}

nav {
  z-index:9;
  grid-area: nav;
  background:#009688;
  padding:0 5px;
}

nav ul{
  margin:0;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow: hidden;
}

nav ul li {
 text-indent:0;
 list-style:none;
 width:100px;
 height:60px;
}

nav li a:link, li nav a:visited {
  color: white;
  text-decoration: none;
  background: #186C5F;
  position: relative;
  display: block;
  line-height:60px;
  text-align:right;
  font-size:14px;
}

nav li#enter-app {
  height:59.1px
}
nav li#enter-app a:link, nav li#enter-app a:visited{
  background:#8EC0F7;
  color:#fff;
}
nav li#enter-app a:before {
  border-left: 30px solid #8EC0F7;
}
nav li#enter-app a:after {
  display:none;
}

nav li a::before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #186C5F;
  position:absolute;
  left: 100%;
  z-index: 3;
}
nav li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #c1c1c1;
  position:absolute;
  left: 101%;
  top:0;
  z-index: 2;
}

nav li.curr a { background:#009688; }
nav li.curr a::before { border-left: 30px solid #009688; }
nav li:first-child a::before, nav li.prec a::before { border-left: 30px solid #009688; }
nav li:first-child a, nav li.prec a { background: #009688; }


div.page {
  display:grid;
  background-color:#fff;
  grid-template-areas: "fig text";
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto;
  grid-gap:15px;
  padding:15px;
  max-width:1024px;
}
section.fig { grid-area:fig; position:relative;}
section.fig div {
  position:absolute;
  top:0;
  left:0;
}

section.fig img {
  display: block;
  width: 100%;
}

section.text { grid-area:text; min-height:477px;}
p.caption { grid-area:caption; font-size:10px; text-align:center;}

section.fig div.fade1 {
  animation:fade1 10s infinite;
  -webkit-animation:fade1 10s infinite;
}
section.fig div.fade2 {
  animation:fade2 10s infinite;
  -webkit-animation:fade2 10s infinite;
}

@keyframes fade1 {
  0%   {opacity:1}
  50% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2 {
  0%   {opacity:0}
  50% { opacity: 1}
  100% { opacity: 0}
}

@media (max-width: 414px) {
  div.page {
    display:grid;
    background-color:#fff;
    grid-template-areas: "fig" "text";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap:15px;
    padding:15px;
  }
  section.text {
    min-height:150px;
  }
  section.text.with-fading-fig {
    padding-top:340px;
  }
  main {padding:0;}
  nav {padding:0;}
  nav ul li:first-child {width:75px;}
  nav ul li {
    width:90px;
  }
}