<!DOCTYPE html>
<html>
<head>
  <title>AgroSat - Ibimet CNR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Migliora le tue coltivazioni attraverso una concimazione precisa e puntuale">
  <meta name="author" content="CNR Ibimet - Daniele Spinosa">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="favicon-apple-touch-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-apple-touch-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-apple-touch-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-apple-touch-144.png">
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="../favicon.ico">

  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/welcome.css?v=4" />
</head>

<body lang="it">
  <div id="agrosat-welcome">
    <header>
      <svg xmlns="https://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="agrosat-logo">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="2" y1="12" x2="22" y2="12"></line>
        <line x1="12" y1="2" x2="12" y2="22"></line>
        <ellipse cx="12" cy="12" rx="6" ry="9">
          <!-- <animate attributeName="rx" values="6;3;6" dur="2s" repeatCount="indefinite" v-if="nitro"/> -->
        </ellipse>
        <circle cx="21" cy="2" r="2" fill="#009688" stroke-width="0"/>
      </svg>
      <h2>AgroSat</h2>
    </header>

    <section id="hero">
      <svg xmlns="https://www.w3.org/2000/svg" width="432" height="108" viewBox="0 0 432 108" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" class="agrosat-logo">
        <text x="100" y="78" font-family="Verdana" stroke-width="2" font-size="64" font-weight="700" fill="currentColor">AgroSat</text>
        <text x="30em" y="8em" font-family="Verdana" stroke-width="0" font-size="12" fill="#fff">v1.0</text>
        <circle cx="52" cy="52" r="36"></circle>
        <line x1="16" y1="52" x2="84" y2="52"></line>
        <line x1="52" y1="16" x2="52" y2="84"></line>
        <ellipse cx="52" cy="52" rx="18" ry="36"></ellipse>
        <circle cx="66" cy="8" r="6" fill="#009688" stroke-width="0">
          <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 52 52" to="360 52 52" dur="12s" repeatCount="indefinite"/>
        </circle>
      </svg>
    </section>

    <nav>
      <ul>
        <li v-for="(s, i) in steps" v-bind:class="stepClass(s, i)">
          <a @click="current=s" href="javascript:void(0)">{{ s }}</a>
        </li>
        <li id="enter-app">
          <a href="https://www.agrosat.it/app/">Entra!</a>
        </li>
      </ul>
    </nav>

    <main>
      <div class="page" v-if="steps.indexOf(current)==0">
        <section class="fig">
          <img src="./img/fig1.png" :alt="current"/>
        </section>
        <section class="text">
          <h3>Puoi&hellip;</h3>
          <table>
            <tr>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-crosshair"><circle cx="12" cy="12" r="10"></circle><line x1="22" y1="12" x2="18" y2="12"></line><line x1="6" y1="12" x2="2" y2="12"></line><line x1="12" y1="6" x2="12" y2="2"></line><line x1="12" y1="22" x2="12" y2="18"></line></svg>
              </td>
              <td>attivare la tua posizione <strong>GPS.</strong> </td>
            </tr>
            <tr>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zoom-out"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line><line x1="8" y1="11" x2="14" y2="11"></line></svg>
              </td>
              <td>inserire il nome località, navigare la mappa.</td>
            </tr>
            <tr>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-crop"><path d="M6.13 1L6 16a2 2 0 0 0 2 2h15"></path><path d="M1 6.13L16 6a2 2 0 0 1 2 2v15"></path></svg>
              </td>
              <td>disegnare un poligono che racchiuda il tuo campo sulla mappa.</td>
            </tr>
            <tr>
              <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="17" x2="12" y2="17"></line></svg>
              </td>
              <td>accedere alla guida in linea in ogni momento.</td>
            </tr>
          </table>
          <h3 style="text-align:center;">Trova il tuo campo<br/>e disegna i confini!</h3>
        </section>
      </div>

      <div class="page" v-if="steps.indexOf(current)==1">
        <section class="fig">
          <div class="fade2">
            <!-- last fig first -->
            <img src="./img/fig3.png" alt="Immagine stato coltura valori bassi per scarsa vegetazione o suolo nudo" />
            <p class="caption">Immagine stato coltura:<br/>i valori sono bassi per scarsa vegetazione o suolo nudo</p>
          </div>
          <div class="fade1">
            <img src="./img/fig2.png" alt="Immagine Colore Naturale" />
            <p class="caption">Immagine Colore Naturale</p>
          </div>
        </section>
        <section class="text with-fading-fig">
          <h3>Comparirà l’ultima immagine disponibile in colori naturali</h3>
          <p>
            Adesso utilizza il calendario se vuoi selezionare altre date disponibili (in verde).
          </p>
          <h3>Osserva il tuo campo</h3>
          <p>
            Se non ci sono nuvole puoi da subito valutare il vigore della tua coltura
            o la variabilità del suolo selezionando stato della coltura.
          </p>
        </section>
      </div>

      <div class="page" v-if="steps.indexOf(current)==2">
        <section class="fig">
          <div class="fade2">
            <!-- last fig first -->
            <img src="./img/fig5.png" alt="Concime di precisione" />
            <p class="caption">Concime di precisione</p>
          </div>
          <div class="fade1">
            <img src="./img/fig4.png" alt="Resa potenziale allo stato attuale senza adottare la concimazione di precisione" />
            <p class="caption">
              Resa potenziale allo stato attuale senza adottare la concimazione di precisione
            </p>
          </div>
        </section>
        <section class="text with-fading-fig">
          <div>
            <h3>Sei pronto per la concimazione?</h3>
            <p>
              Indica il quantitativo delle unità di azoto (N/ha) che vorresti apportare al tuo campo,
              ti aiuteremo a distribuirle nel modo migliore e se possibile ti aiutiamo a ridurle!
            </p>
            <h3>Non sei pronto?</h3>
            <p>Allora valuta la resa potenziale del tuo campo allo stato attuale e poi penseremo alla concimazione.</p>
          </div>
        </section>
      </div>

      <div class="page" v-if="steps.indexOf(current)==3">
        <section class="fig">
          <img src="./img/fig6.png" alt="Immagine originale ESA-Navipedia modificata" />
          <p class="caption">Immagine originale ESA-Navipedia modificata</p>
        </section>
        <section class="text">
          <p>
            Se hai uno spandiconcime a rateo variabile basta scaricare la mappa di prescrizione georiferita
            ed inserirla nel sistema di supporto della tua macchina. Altrimenti clicca naviga e potrai visualizzare
            direttamente la tua macchina su mappa e distribuire la concimazione seguendo comodamente il gps
            del tuo smartphone o tablet!
          </p>
        </section>
      </div>
    </main>

    <footer>&copy; 2017 CNR - Ibimet &raquo;</footer>
  </div>
  <script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
  <script>
    var wm = new Vue({
      el: '#agrosat-welcome',
      data: {
        steps: ["Disegna", "Osserva", "Analizza", "Decidi"],
        current: "Disegna"
      },
      methods: {
        stepClass: function(step, index) {
          var cssClasses = []
          var stepIndex = this.steps.indexOf(this.current)
          if (this.current==step ) {
            cssClasses.push('curr')
          }
          if (index > stepIndex ) {
            cssClasses.push('succ')
          }
          if (index < stepIndex) {
            cssClasses.push('prec')
          }
          return cssClasses.join(' ')
        }
      }
    })
  </script>
</body>
</html>
